:root {
    --accent: var(--text);
}






body {
    height: 100vh;
    display: grid;
    place-items: center;
}

[card] {
    background: var(--surface);
    border: 1px var(--border) solid;
    border-radius: 20px;
    padding: 25px 35px 25px 35px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
    min-width: 275px;
    width: 275px;
    max-width: 275px;

    border-radius: 20px 20px 20px 20px;
}


.tab1, .tab2 {
    background: var(--surface);
    border: 1px var(--border) solid;
    border-radius: 20px;
    padding: 15px;


    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
    width: 50%;


    border-radius:  20px 0 0 0;
    cursor: pointer;
}

.tab2 {
    border-radius:  0 20px 0 0;
}

.tab1:hover, .tab2:hover {
    background: var(--button-bg);
}

row,
column {
    display: flex;
    gap: 7px;
}

column {
    flex-direction: column;
}


select {
    background: var(--button-bg);
    border: 1px var(--border) solid;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
}

/* 
select:hover {
    background: var(--button-hover);
    cursor: pointer;
}

*/


.bar-holder {
    width: 100%;
    height: 14px;
    border-radius: 20px;
    background: #91a798;
    overflow: hidden;
}

.bar {
    position: relative;
    width: 0%;
    height: 14px;
    background: #0fa73f;
    transition: width 0.5s ease;
    overflow: hidden;
}


.bar::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(-30deg,
            transparent 0 6px,
            rgba(255, 255, 255, 0.2) 6px 12px);
    animation: stripes 1s linear infinite;
}

@keyframes stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0px -14px;
    }
}




.statusText {
    scale: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}